html {
  font-family: Lora, serif;
}

.masthead {
  background-color: #588477;
  border-bottom: 3px solid #467366;
  border-top: 3px solid #467366;
  background-image: url(../images/leaf-bg.svg);
  background-position: left top, left bottom, left top;

}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {

}

.banner {

}

.banner-content {

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
